.card__music {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    padding: 5px;
}

.card__music_artist {
    color: white;
    font-size: 25px;
}

.card__music_name {
    font-weight: bold;
    color: white;
    font-size: 40px;
}

.t18 {
    font-size: 18px;
}

.t12 {
    font-size: 12px;
}

.t14 {
    font-size: 14px;
}


.card__music_omyt {
    background-image: url(../../../images/covers/omyt.jpeg);
}

.card__music_sneg {
    background-image: url(../../../images/covers/cosm.jpeg);
}

.card__music_onhold {
    background-image: url(../../../images/covers/onhold.jpeg);
}

.card__music_billie {
    background-image: url(../../../images/covers/billie.jpeg);
}

.card__music_laud {
    background-image: url(../../../images/covers/laud.jpeg);
}

.card__music_ozera {
    background-image: url(../../../images/covers/ozera.jpeg);
}

.card__music_blood {
    background-image: url(../../../images/covers/blood.jpeg);
}

.card__music_blue {
    background-image: url(../../../images/covers/blue.jpeg);
}

.card__music_places {
    background-image: url(../../../images/covers/places.jpeg);
}

.card__music_heart {
    background-image: url(../../../images/covers/heart.jpeg);
}

.card__music_sirotkin {
    background-image: url(../../../images/covers/sirotkin.jpeg);
}

.card__music_aigel {
    background-image: url(../../../images/covers/aigel.jpeg);
}

