.card {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-top: 10vh;
    padding: 0 2vh 0 2vh;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media screen and (min-width: 960px) {
    .card {
        min-width: 40%;
        max-width: 40%;
        padding: 0 0 0 2vh;
        margin-top: 0;
    }

}